$ColorFooter_Ahover:#c5541b;
$ColorNav_Ahover:#ee6019;

$ColorBody:rgb(32, 32, 32);

$ColorGradienteH2:linear-gradient(to top, #d13100, #FFD600);

$ColorDivisores_FondoLogo:rgb(121, 121, 121);

$ColorA_Strong:#FFD600;

$ColorRojo:#dd3400;
$ColorRojoTitulo:#d11f00;

$ColorCardFondo:rgb(44, 44, 44);
$ColorCardFondoOscuro:rgb(20, 20, 20);
$ColorCardText:#e7400d;
$ColorCardTitulo:rgb(133, 133, 133);

$ColorEnStock:rgb(54, 255, 121);
$ColorPocoStock:#dda200;
$ColorSinStock:#d44646;

$ColorWppFondo:rgb(0, 177, 0);
$ColorWppHover:rgb(50, 233, 50);
$ColorBlanco:white;
$ColorNegro:black;